/* Global Styles */
body {
    background-color: #121212;
    color: #e0e0e0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    text-align: center;
  }
  
  /* Title */
  .title {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #ffffff;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    border-bottom: 2px solid #ff5252;
    display: inline-block;
    padding-bottom: 10px;
  }
  
  /* Board Styles */
  .board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 10px;
    margin: 20px auto;
  }
  
  /* Individual Cells */
  .cell {
    width: 100px;
    height: 100px;
    background-color: #1f1f1f;
    color: #80d858;
    font-size: 2rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7);
    cursor: pointer;
    user-select: none;
    transition: background-color 0.3s, transform 0.2s;
  }
  
  .cell:hover {
    background-color: #333333;
    transform: scale(1.05);
  }
  
  /* Winner Text Styles */
  #msg {
    font-size: 1.5rem;
    margin: 20px 0;
    color: #4caf50; /* Green for winner announcement */
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
    font-weight: bold;
    text-transform: uppercase;
  }
  
  /* Buttons Section */
  .buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .reset-btn, .newgame-btn {
    padding: 10px 20px;
    background-color: #ff5252;
    color: #ffffff;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7);
    transition: background-color 0.3s, transform 0.2s;
  }
  
  .reset-btn:hover, .newgame-btn:hover {
    background-color: #ff7575;
    transform: scale(1.05);
  }
  .hide{
    display: none;
  }
  .disabled {
    pointer-events: none; /* Prevent further clicks */
    background-color: #444; /* Change the background color to indicate it's inactive */
    color: #4caf50; /* Optional: Change text color to gray */
    cursor: not-allowed; /* Optional: Change cursor to indicate it's disabled */
  }